// variables
$color-primary: rgb(255, 128, 185) !default;
$color-secondary: rgb(171, 255, 223) !default;
$error: #d32727 !default;
$info: #f6c31c !default;
$text-color: rgb(255, 255, 255) !default;


// maps
$font-weight: (
    "regular": 400,
    "medium": 600,
    "bold": 900
);

$colors: (
    "primary": $color-primary,
    "secondary": rgb(43, 255, 0),
    "purple": rgb(128, 0, 255),
    "red": $error,
    "yellow": $info,
    "pink": rgb(255, 0, 98),
    "black": black,
    "white": white,
);





// Spacing
$base-padding: .75rem !default;
$base-margin: .75rem !default;




// Borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;


// Shadow
$base-box-shadow: 5px 5px 10px 0px rgb(93, 162, 154) !default;




// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;



// mobile
$mobile-size: 800px !default;