// variables
$color-primary: rgb(255, 128, 185);
$color-secondary: rgb(171, 255, 223);
$text-color: rgb(255, 255, 255);

// maps
$font-weight: (
    "regular": 400,
    "medium": 600,
    "bold": 900
);

$mobile-size: 800px;