@import './reset';
@import './variables';




// function
@function weight($weight-name) {
    @return map-get($font-weight, $weight-name)
};





// mixin
// use case 1, creating repeatative code
@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
};

// use case 2, light-dark mode
@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($color-primary, 20%);
        color: darken($text-color, 100%)
    }
};


// use case 3: using for mediaquery
@mixin mobile {
    @media (max-width: $mobile-size) {
        @content;
    }
}






body {
    background-color: $color-secondary;
}

.container {
    padding: 0 3em;

    p {
        font-weight: weight(regular);
    }

    #{&}__secondary1 {
        // using mixin
        @include flexCenter(row);

        border: 2px solid black;


        &:hover {
            border: 4px solid rgb(137, 151, 255);
        }

        
        @include mobile{
            // what you wanna do when it get bellow $moble-size
            flex-direction: column;
            // background-color: black;
        }
    }

    #{&}__secondary2 {
        @extend .container__secondary1;

        &:hover {
            border: 3px solid rgb(223, 65, 255);
        }
    }

}

.light {
    @include theme($light-theme: true);
}